.EnterNumber,
.EnterPasscode {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px dotted white;
  font-size: 2.5rem;
  text-align: center;
  width: 50%;
  display: block;
  margin: auto;
  color: white;
  border-left: none !important;
}

.EnterNumber {
  margin-bottom: 0;
}

.EnterPasscode {
  border-bottom: none;
}

.EnterNumber::placeholder,
.EnterPasscode::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}
