.CreateHome-form input,
.CreateHome-form button {
  font-family: 'Work Sans Semi Bold', Helvetica, sans-serif;
}

.CreateHome-form label {
  text-align: left;
  display: inline-block;
  float: left;
  padding-bottom: 4px;
  border-bottom: 1px dashed white;
}

.CreateHome-form input {
  background: none;
  border: none;
  color: white;
  width: 100%;
  border-bottom: 1px dashed white;
  border-left: 1px dashed white;
  margin-bottom: 32px;
}

.CreateHome-form input::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}

.CreateHome-submitButton,
.BoxContainer button {
  display: block;
  color: white;
  font-size: 16px;
  float: right;
}
