.NavBar:after {
  content: '';
  display: table;
  clear: both;
}

.NavBar {
  margin-top: 0;
  background: var(--dark-bg-color);
  border-top: none;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.FooterNav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.NavBar ul {
  margin: 0;
  list-style: none;
  padding: 0;
  float: left;
  width: 100%;
  text-align: center;
}

.NavBar li {
  list-style: none;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
}

.NavBar li a {
  display: block;
  padding: 0.75rem 1rem;
  margin: 0rem;
  color: white;
  text-decoration: none;
}

.NavBar li a.active {
  background: var(--darker-bg-color);
}
