.App {
  text-align: center;
  width: 100%;
  margin: auto;
  max-width: 500px;
  padding-bottom: 2rem;
  min-height: 100%;
}

.App:after {
  content: '';
  display: table;
  clear: both;
}

.App-logo {
  height: 3rem;
  margin: 1.5rem 0 1rem;
}

.App-BuildingName {
  margin: 0;
  padding-bottom: 1rem;
  color: var(--darker-bg-color);
  font-family: var(--font-family-A);
}

.App-header {
  background: var(--bg-color);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
