.App {
  text-align: center;
  width: 100%;
  margin: auto;
  max-width: 500px;
  padding-bottom: 2rem;
  min-height: 100%;
}

.App:after {
  content: '';
  display: table;
  clear: both;
}

.App-logo {
  height: 3rem;
  margin: 1.5rem 0 1rem;
}

.App-header {
  background: var(--bg-color);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
