@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i|PT+Serif');

:root {
  --font-family-A: 'PT Sans', sans-serif;
  --font-family-B: 'PT Serif', serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #777677;
  width: 100%;
  height: 100%;
  font-family: var(--font-family-A);
  color: white;
  font-size: 16px;
}

nav li a,
dt {
  font-family: var(--font-family-A);
}

dt {
  font-family: var(--font-family-A);
}

dd {
  margin-left: 1rem;
  font-family: var(--font-family-A);
}

input,
textarea,
checkbox,
radio,
select,
button {
  font-size: 16px;
  font-family: var(--font-family-A);
}

#root {
  margin-top: 0;
}

* + * {
  margin-top: 1em;
}

p,
li,
dt,
dd {
  font-size: 1.3rem;
}

input,
select {
  padding: 1rem;
}

label {
  display: block;
}

button {
  cursor: pointer;
  margin: auto;
  background: none;
  border: 1px solid white;
  color: white;
  padding: 0.75rem 1rem;
}

.BigButton {
  width: 100%;
  padding: 1rem;
  margin: 3rem auto;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid white;
  font-size: 2rem;
  text-align: center;
}

.Content {
  margin-top: 0;
}

.ContentContainer {
  margin: 0 1rem;
  text-align: left;
}

.ContentContainer a {
  color: white;
}

.BoxContainer {
  margin: 0 2rem;
  border: 1px dashed white;
  padding: 1rem;
  background: #777677;
}

.BoxContainer:after {
  content: '';
  display: table;
  clear: both;
}
